<body>
	<script id="choice-popup" type="text/x-handlebars-template">
		<div class="popup" id="popupFile">
			<div class="overlay"></div>
			<div class="container">
				<div class="title">
					Que voulez-vous faire ?
					<span class="exit"><i class="fa fa-times"></i></span>
				</div>
				<div class="content">
					<div id="btnDiv">
						<p><button id="downloadBtn"><i class="fa fa-download"></i> Télécharger</button></p>
						<p><button id="shareBtn"><i class="fa fa-share"></i> Partager</button></p>
						<p><button id="aboutBtn"><i class="fa fa-info-circle"></i> À propos</button></p>
					</div>
					<div id="aboutDiv">
						<p>Auteur : {{author}}</p>
						<p>Groupe : {{group}}</p>
						<p>Type : {{mimetype}}</p>
						<p>Taille : {{size}} octets</p>
						<button id="popupBack">Retour</button>
					</div>
				</div>
			</div>
		</div>
	</script>
</body>
