<body>
	<script id="newfile-popup" type="text/x-handlebars-template">
		<div class="popup" id="popupNewFile">
			<div class="overlay"></div>
			<div class="container">
				<div class="title">
					Nouveau fichier
					<span class="exit"><i class="fa fa-times"></i></span>
				</div>
				<div class="content">
					<p>Nom du fichier</p>
					<input type="text" id="fileName" />
					<p>
						<input type="radio" name="fileType" value="file" id="ftFile" checked /><label for="ftFile">Fichier</label> 
						<input type="radio" name="fileType" value="folder" id="ftFolder" /><label for="ftFolder">Répertoire</label>
					</p>
					<p>
						<button class="button" id="createFileBtn">Créer</button>
					</p>
				</div>
			</div>
		</div>
	</script>
</body>
