<body>
	<script id="filemanager-form" type="text/x-handlebars-template">
		<ul id="fileList">
			{{#each resources}}
				<li id="{{id}}" class="{{mimetype}}" data-author="{{author}}" data-size="{{size}}" data-group="{{group}}" data-mimetype="{{mimetype}}">
					<div class="leftDiv">{{icon mimetype}}</div>
					<div class="rightDiv">
						<p><b>{{text}}</b></p>
						<p>{{dateString modified}}</p>
						<p>{{rightsString rights}}</p>
					</div>
				</li>
			{{else}}
				<div class="emptyFolder">Ce dossier est vide</div>
			{{/each}}
		</ul>
	</script>
</body>
