<body>
	<script id="yesno-popup" type="text/x-handlebars-template">
		<div class="popup" id="popupYesNo">
			<div class="overlay"></div>
			<div class="container">
				<div class="title">
					Etes-vous sûr ?
					<span class="exit"><i class="fa fa-times"></i></span>
				</div>
				<div class="content">
					<p><button class="button" id="yesBtn">Oui</button></p>
					<p><button class="button" id="noBtn">Non</button></p>
				</div>
			</div>
		</div>
	</script>
</body>
