html, body, ul {
	margin: 0;
	padding: 0;
}

body {
	color: #ecf0f1;
	font-size: 16px;
	background-color: #1976d2;
}

input[type=text], input[type=password] {
	width: 200px;
	padding: 10px;
	background-color: #ecf0f1;
	border: 0;
	border-radius: 0;
}

body.main > section.notification {
	display: block !important;
}

body.main > header {
	display: block;
}

header {
	background-color: #0D47A1;
	text-align: center;
	display: none;
	padding: 0.5rem 0;
	height: 2.4rem;
	position: relative;
}

header input[type=text] {
	width: calc(100% - 8rem);
}

header button, section.notification button {
	border: none;
	background: none;
	color: white;
	font-size: 1.1rem;
	vertical-align: middle;
	display: inline-block;
	padding: 0;
}

header button {
	margin: 0;
	position: absolute;
}

header button:first-child {
	left: 0;
	padding-left: 0.5rem;
}

header button:last-child {
	right: 0;
	padding-right: 0.4rem;
}

section.notification {
	background-color: #0d47a1;
	text-align: center;
	height: 2.4rem;
	vertical-align: middle;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

section.notification button {
	margin: 0.5rem;
}

section.notification ul {
	list-style-type: none;
}

section.notification ul li {
	display: inline-block;
}

section.view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

body.main section.view {
	top: 3.3rem;
	bottom: 2.4rem;
}

section.view form {
	margin: 40px;
	margin-top: 25%;
}

section.view form .form-item {
	margin-bottom: 15px;
}

section.view form input, section.view form button {
	width: 100%;
	box-sizing: border-box;
}

section.view form fieldset {
	padding: 15px;
	padding-top: 5px;
}

section.view button, .popup button {
	width: 220px;
	height: 40px;
	text-transform: uppercase;
	background: #0d47a1;
	border: 0;
	border-radius: 0;
	color: #ecf0f1; 
}

section.view li {
	cursor: pointer;
	font-size: 15px;
	list-style-type: none;
	height: 5.3rem;
	padding: 0.5rem;
	margin: 0;
	background-color: #2196f3;
	border-bottom: 1px solid #0d47a1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

section.view li:last-child {
	border-bottom: none;
}

.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	display: none;
}

.popup .overlay {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 10;
}

.popup button i {
	float: left;
}

.popup .container {
	background: rgb(25, 118, 210);
	text-align: center;
	position: absolute;
	width: 90%;
	height: 80%;
	left: 5%;
	top: 10%;
	z-index: 15;
	overflow: hidden;
}

.popup .title {
	background-color: #0d47a1;
	text-align: center;
	height: 2.5rem;
	line-height: 2.5rem;
	font-weight: bold;
}

.popup .exit {
	position: absolute;
	top: -2px;
	right: 0;
	cursor: pointer;
	padding: 0 0.8rem;
}

.popup .container {
	background: rgb(25, 118, 210);
	text-align: center;
	position: absolute;
	width: 90%;
	height: 80%;
	left: 5%;
	top: 10%;
	z-index: 15;
	overflow: hidden;
}

section.view .emptyFolder {
	text-align: center;
	padding: 2rem;
}

.leftDiv {
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	padding: 1.3rem;
	padding-right: 1.7rem;
}

.rightDiv {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.rightDiv p {
	margin: 0;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.loader {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	text-align: center;
	-moz-opacity: 0.5;    /* Mozilla extension */
	-khtml-opacity: 0.5;  /* Safari/Conqueror extension */
	opacity: 0.5; /* CSS3 */
	z-index: 1000;
	background-color: white;
	color: #888;
	display: none;
}

.loader i {
	position: absolute;
	font-size: 6rem;
	top: 50%;
	left: 50%;
	margin-top: -3rem; /* Half the height */
	margin-left: -3rem; /* Half the width */
}

button#quit {
	display: none;
}
